body {
  margin-top: 4rem;
  background-image: linear-gradient(#FFD59E, #FFD59E);
}


.MuiFormLabel-root.Mui-focused {
  color: white !important;
}

.MuiFormLabel-root {
  color: white !important;
}

.makeStyles-root-1 {
  color: white;
}